<%- include("partials/header.ejs") %>
  <div class="background-image"></div>
  <main>
    <% blogs.forEach((blog, index) => { %>
      <% if (index === 0) { %>
        <h1>Outros Blogs:</h1>
        <section id="recentes-container">
          <a href="/blog/<%= blog.id %>">
            <div id="recentes-grande">
              <img id="img-grande" src="https://midias.correiobraziliense.com.br/_midias/jpg/2023/07/24/1200x801/1_foto_da_ia-28557316.jpg" alt="ia com pessoa">
              <article id="bloco-titulo-1">
                <p>Inteligencia Artificial e seus malefícios</p>
                <p>2024</p>
              </article>
            </div>
          </a>
          
          <section id="pequenas">
            <a href="/blog/<%= blog.id %>">
              <div class="recentes-pqn">
                <img src="https://media.licdn.com/dms/image/C4D12AQGCRq3ovzK7mg/article-cover_image-shrink_600_2000/0/1644281983613?e=2147483647&v=beta&t=UJgXoJln6HvyY4rpKp5YcqfFqyvRXnguXRbuQEvI6wo" alt="DApps">
                <article id="bloco-titulo-2">
                  <p>DApps, o futuro da internet</p>
                  <p>2024</p>
                </article>
              </div>
            </a>
            <a href="/blog/<%= blog.id %>">
              <div class="recentes-pqn">
                <img src="https://online.stanford.edu/sites/default/files/inline-images/1600X900-How-does-blockchain-work.jpg" alt="Blockchain">
                <article id="bloco-titulo-3">
                  <p>Blockchain e Web 3.0</p>
                  <p>2024</p>
                </article>
              </div>
            </a>
          </section>
        </section>
      <% } %>
    <% }) %>

    <section id="todos-blogs-container">
      <section id="titulo-botao">
        <h2>Todos os Blogs</h2>
        <a href="/createblog">
          <p>Adicionar +</p>
        </a>
      </section>

      <% blogs.forEach((blog) => { %>
        <div id="todos-blogs-articles">
          <article class="blog-article">
            <p><%= blog.titulo %></p>
            <div class="icones"> 
              <a href="/blog/<%= blog.id %>"><img src="/images/icon-eye.png"></a>
              
              <!-- <div class="edit-blog-btn" data-id="<%= blog.id %>">
                <img src="/images/icon-edit.png">
              </div>                           -->

              <a href="#" class="delete-blog-btn" data-id="<%= blog.id %>">
                <img src="/images/icon-delete.png">
              </a>
            </div>
          </article>
        </div>
      <% }) %>

    </section>
  </main>
<%- include("partials/footer.ejs") %>